#page-register {
  width: 100vw;
  height: 100vh;
}

#page-register-content {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#page-register-content 
  .header-back {
    margin-bottom: -2.7rem;
}

#page-register-content 
  .header-back 
  a 
  img {
  width: 0rem;
}

#page-register-content 
  .proffy-container {
    width: 100vw;
    height: 7rem; 
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: var(--color-primary);
}

#page-register-content 
  .proffy-container 
  a {
    margin-right: 27rem;
}

#page-register-content 
  .proffy-container 
  img {
    width: 7rem;
}

#page-register-content 
  .proffy-container 
  p {
    font-size: 0rem;
}

#page-register-content 
  section.form {
    width: 90%;
    height: 47.5rem;
    border-radius: 2rem;
    margin-top: 1.6rem;
    padding: 0 3.6rem;
    background: var(--color-box-base);
}

#page-register-content 
  section.form 
  input {
    margin-bottom: -1rem;
}

#page-register-content 
  section 
  .header-form {
    padding: 1.6rem;
    color: var(--color-text-tile);
}

#page-register-content 
  section 
  .header-form 
  p {
    margin-top: 1.6rem;
}

#page-register-content 
  section 
  .button {
    width: 100%;
    height: 5rem;
    font: 500 1.8rem Poppins;
    border-radius: 0.8rem;
    outline: 0;
    border: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2.7rem;
    color: var(--color-title-in-primary);
    background: var(--color-secundary);
    transition: background-color 0.2s;
}

#page-register-content 
  section 
  .button:hover {
    background: var(--color-secundary-dark);
} 

@media (min-width:1100px) {
  #page-register-content{
    max-width: 100vw;

    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "header-back form-container"
      "logo-container form-container"    ;
  }

  #page-register-content.container {
    height: 100vh;
  }

  #page-register-content 
  .proffy-container {
    width: 100%;
    height: 100%; 
    grid-area: form-container;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color-primary);
  }

  #page-register-content 
    .proffy-container 
    .logo-proffy-container {
      flex-direction: column;
  }

  #page-register-content 
    .proffy-container 
    a {
      display: none;
  }

  #page-register-content 
    .proffy-container 
    img {
      width: 30rem;
      margin-left: 5rem;
  }

  #page-register-content 
    .proffy-container 
    p {
      margin: 2rem;
      font: 700 2.2rem Poppins;
      color: var(--color-title-in-primary);
  }

  #page-register-content 
    .form {
      grid-area: logo-container;
      margin-left: 4rem;
      margin-bottom: 5rem;
  }

  #page-register-content 
    .header-back {
      margin-top: 0;
  }

  #page-register-content 
    .header-back 
    a 
    img {
      width: 7rem;
      margin-left: 5rem;
  }
}